body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}
.bodyIndex{
    justify-content: center;
    align-items: center;
    background-color: #171717;
}
.mainIndex{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo{
    display: flex;
}
.logo img{
    height: 50%;
    justify-self: center;
    align-self: center;
}
.footerIndex{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.botoes{
    display: flex;
    justify-content: center;
    align-content: center;
}
.botoes a{
    font-weight: 600;
    margin: 2%;
    padding: 10px;
    background-color: white;
    color: #661FB6;
    text-decoration: none;
    height: 15px;
    width: 120px;
    border-radius: 5px;
    justify-self: center;
    text-align: center;
}

.bodyPag{

}
.headerPag{
    margin-top: 1%;
    margin-right: 20px;
    border-radius: 0px 50px 50px 0px;
    display: flex;
    background-color: #171717;
}
.containerHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.containerHeader h1{
    font-weight: 400;
    color: white;
    margin-left: 2%;
}

.logoHorizontal{
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.logoHorizontal img{
   height: 70%;
}
.botaoVoltar{
    height: 5%;
}
.centralizar{
    align-content: center;
    justify-content: center;
    margin-left: 10px;
    flex-direction: row;
    display: flex;
    height: 90%;
}
.esq{
    width: 30%;
}
.dir{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.imagensContainer{
    display: flex;
    flex-direction: column;
}
.superior{
    display: flex;
    flex-direction: row;
}
.superiorEsq{
    display: flex;
    flex-direction: column;
}
.logoCaixas img{
    height: 200px;
}

.inferiorEsq .logoCaixas img{
    height: 70px;
}
.tituloCaixas h1{
    font-size: 10px;
    margin-left: 10px;
}
.dirContainer{
    margin-left: 5%;
}
.containerConteudo{
    display: flex;
    justify-content: center;
}
.botaoVoltar img{
    height: 50px;
}
.btnsup img{
    transform: rotate(180deg);
}
.btninf img{
    transform: rotate(270deg);
}
.dirText{
    align-self: center;
    justify-self: center;
}
.dirText p{
    margin-left: 100px;
    font-size: 22px;
    width: 50%;
}